/* scripts.js removes this class on page load */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Transitions */
nav,
hr,
img,
a,
.container,
.primary-skill,
.secondary-skill,
.pixel-button,
#tom-dawson,
.p-subtitle,
.p-subtitle::before,
.p-title {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.primary-skill,
.secondary-skill {
  transition: background-color 0.3s;
}

body {
  transition: background 0.3s;
}

#tom-dawson { /* SVG element */
  animation: stroke 4s;
  fill: var(--stroke);
  stroke: var(--stroke);
  stroke-width: 0.5px;
}

@keyframes stroke {
  0% {
    fill: transparent;
    stroke: var(--stroke);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%; /* No stroke whatsoever */
    stroke-width: 0.5;
  }
  70% {
    fill: transparent;
    stroke: var(--stroke);
    stroke-width: 0.5;
  }
  100% {
    fill: var(--stroke);
    stroke: var(--stroke);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0; /* Unbroken stroke */
    stroke-width: 0.5;
  }
}
