#site-wrapper { /* flex flex-col */
display: flex;
flex-direction: column;
justify-content: center;
}

.flex-key, .flex-container > * { /* flex flex-row */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
}


.flex-container > * { /* change class to competencies */
  align-self: stretch;
  flex-grow: 1;
  width: auto;
  }


nav { /* add flex */
display: flex;
flex-wrap: wrap;
}

.center-vertically { /* social-icon-container > center-vertically */
display: inline-flex;
align-items: center;
}

/**/

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-col {
  flex-direction: column;
  justify-content: center;
}

.competencies > * { /* flex-container > competencies */
  align-self: stretch;
  flex-grow: 1;
  width: auto;
  }

.center-vertically { /* social-icon-container > center-vertically */
  display: inline-flex;
  align-items: center;
  }