@font-face { /* JetBrains */
    font-display: swap;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/jetbrains-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/jetbrains-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jetbrains-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jetbrains-mono-v13-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
  }
  @font-face { /* Pixel NES */
    font-display: swap;
    font-family: 'Pixel NES';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Pixel_NES.eot?') format('eot'),
         url('../fonts/Pixel_NES.woff') format('woff'),
         url('../fonts/Pixel_NES.ttf') format('truetype'),
         url('../fonts/Pixel_NES.svg#PixelNES') format('svg');
  }