/* Theming and Structure */

html[data-theme='light'] {
  --text-1: #0B1014;
  --text-2: #49789e;
  --background: #D1D5D4;/* Opaque background overlay */
  --link: #A288E3;
  --accent-1: #A288E3;
  --accent-2: #A288E3;
  --highlight-background: var(--text-1);
  --highlight-text: var(--accent-1);
}

html[data-theme='dark'] {
  --text-1: #E3E3DD;
  --text-2: #a5a59f;
  --background: #30312c;/* Transparent background overlay */
  --link: #A288E3;
  --accent-1: #A288E3;
  --accent-2: #A288E3;
  --highlight-background: var(--text-1);
  --highlight-text: var(--accent-1);
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;
  color: var(--text-1);
  background-color: var(--background);
  text-align: left;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}

#site-wrapper {
  display: flex;
  min-height: 100vh; /* container always  */
  flex-direction: column; /* containers flex vertically */
  justify-content: center; /* centered vertically */
  gap:0px; /* no spacing between containers */
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

#crt {
  background-image: url('../images/crt.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  opacity: 0.9;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pixel NES', sans-serif;
  font-weight: 100;
  margin: 0;
}

h2, h3, h4, h5, h6 {
  font-size:1.3em;
  margin-block: 1em;
  line-height:1;
}

h1 {
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
}

#h1-tom {
  -webkit-text-stroke: 1px var(--text-1);
  -webkit-text-fill-color: var(--accent-2);
  margin-right: -10px;
}

#h1-dawson {
  -webkit-text-stroke: 1px var(--text-1);
  -webkit-text-fill-color: var(--accent-1);
}

em {
  font-weight: 700;
  font-style: normal;
  color: var(--accent-1);
}

.list-title {
  display: block;
  padding-bottom: 4px;
  /* Underline Stuff
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  text-decoration-color: var(--accent-1);
  */
}

.date {
  color: var(--text-2);
  display: block;
  padding-bottom: 10px;
  font-size: 0.85em;
  font-style:normal;
}

/* Chromatic Abberation */
.chromatic-abberation {
  position: relative;
  -webkit-filter: url(#chromatic-abberation);
  filter: url(#chromatic-abberation);
}

/* Page Structure */

p:not(:last-child) {
  padding-bottom:14px;
}

.container {
  padding: 0px 15px 15px 15px;
  width: clamp(0px, 95vw, 680px); /* always shrinks, prefers 95vw, max 680px */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.container > * + * {
  margin-block-start: 1.5rem;
}


.sub-container {
  padding: 0px 0px 10px 0px;
  position: relative;
  z-index: 2;
}

.flex-container {
  padding: 0;
  margin: 0px 0px 0px -10px;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  width: calc(100% + 10px);
  position: relative;
  z-index: 2;
}

.flex-container > li {
  list-style-type: none;
  text-align: center;
  padding: 7px 10px 5px 10px;
  margin: 10px;
  position: relative;
  z-index: 2;
}

.primary-skill {
  background-color: var(--accent-1);
  color: var(--background);
}

.secondary-skill {
  background-color: var(--accent-2);
  color: var(--background);
}

hr {
  /* Width extends beyond container bounds
  width: 100%;*/
  height: 2px;
  margin: auto;
  margin: 45px 0px 10px 0px;
  padding:0px 15px 0px 15px;
  border: none;
  border-bottom: dashed 3px var(--accent-1);
}

a {
  color: var(--accent-1);
}

a:hover, img:hover {
  transform: rotate(12deg);
}

/* Header styles */
header.container {
  padding-top:20px;
  margin-top:40px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

header nav ul li {
  margin: 0px 10px 0px 0px;
}

header nav a.email-address {
  text-decoration: none;
  font-size:0.9em;
}

/* Social Links */
.social-icon {
  width:20px;
}
/* Remove selection highlight */
.social-icon::selection {
  background: none;
}

::selection {
  background: var(--highlight-background);
  color: var(--highlight-text);
  text-shadow: none;
}

::-moz-selection {
  background: var(--highlight-background);
  color: var(--highlight-text);
  text-shadow: none;
}

/* Footer */
footer.container {
  padding-bottom:20px;
  font-family: 'Pixel NES', sans-serif;
  font-size: 0.9rem;
  margin-bottom:20px;
}

.obviously {
  color: var(--accent-1);
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 100;
}

/* Scrollbar */

::-webkit-scrollbar { 
  width: 5px;
  background: var(--accent-1); /* Background */
}

::-webkit-scrollbar-thumb { 
  border-radius: 0px;
  background: var(--background); /* Foreground */
}