/* Theming and Structure */

html[data-theme='light'] {
  --background: #D1D5D4;
  --text-body: #0B1014;
  --text-link: #009BC6;
  --text-faded: #49789e;
  --text-title: #c2a212;
  --text-subtitle: #BA5C12;
  /* Name animation */
  --stroke: #000;
}

html[data-theme='dark'] {
  --background: #1B1B26;
  --text-body: #E3E3DD;
  --text-link: #AA9FFF;
  --text-faded: #435260;
  --text-title: #AA9FFF;
  --text-subtitle: #F5D324;
  /* Name animation */
  --stroke: #AA9FFF;
}

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.1em;
  color: var(--text-body);
  background-color: var(--background);
  text-align: left;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

#site-wrapper {
  display: flex;
  min-height: 100vh; /* container always  */
  flex-direction: column; /* containers flex vertically */
  justify-content: center; /* centered vertically */
  gap:0px; /* no spacing between containers */
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

/*#crt {
  background-image: url('../images/crt.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  opacity: 0.9;
}*/

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pixel NES', sans-serif;
  font-weight: 100;
  margin: 0;
  line-height:1;
}

h1 {
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  overflow: visible;
}

h2, h3, h4, h5, h6 {
  font-size:1.1em;
  margin-block: 1em;
}

/*.about {};*/

.date::before {
  content: '// ';
}

.date {
  color: var(--text-faded);
  display: block;
  padding-bottom: 0.5em;
  font-size: 1em;
  font-style:normal;
}

.p-title {
  padding-bottom: 0.5em;
  color: var(--text-title);
}

/*.p-title::after {}*/

.p-subtitle::before {
  content: ' | ';
  font-size: 1.2em;
  color: var(--text-subtitle);
}

.p-subtitle {
  color: var(--text-body);
  font-weight: 100;
}

.description {
  display:block;
  padding-left: 1em;
  padding-top: 0.5em;
}

/*
.description::before {
  position: absolute;
  left:0px;
  color: var(--text-faded);
  content:'·';
}
*/

/* Page Structure */

p:not(:last-child) {
  padding-bottom:14px;
}

.container {
  padding: 0px 15px 15px 15px;
  width: clamp(0px, 95vw, 680px); /* always shrinks, prefers 95vw, max 680px */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.container > * + * {
  margin-block-start: 1.5rem;
}


.sub-container {
  padding: 0px 0px 10px 0px;
  position: relative;
  z-index: 2;
}

.flex-container {
  padding: 0;
  margin: 0px 0px 0px -10px;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  width: calc(100% + 10px);
  position: relative;
  z-index: 2;
}

.flex-container > li {
  list-style-type: none;
  text-align: center;
  padding: 7px 10px 5px 10px;
  margin: 10px;
  position: relative;
  z-index: 2;
}

.primary-skill {
  background-color: var(--text-title);
  color: var(--background);
}

.secondary-skill {
  background-color: var(--text-subtitle);
  color: var(--background);
}

hr {
  /* Width extends beyond container bounds
  width: 100%;*/
  height: 2px;
  margin: auto;
  margin: 45px 0px 10px 0px;
  padding:0px 15px 0px 15px;
  border: none;
  border-bottom: dashed 3px var(--text-title);
}

a {
  color: var(--text-title);
}

a:hover, img:hover {
  transform: rotate(12deg);
}

/* Header styles */
header.container {
  padding-top:20px;
  margin-top:40px;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

header nav ul li {
  margin: 0px 10px 0px 0px;
}

header nav a.email-address {
  font-size:0.9em;
}

a {
  text-decoration: none;
}

/* Social Links */
.social-icon {
  width:20px;
}
/* Remove selection highlight */
.social-icon::selection {
  background: none;
}

::selection {
  background: var(--text-body);
  color: var(--background);
  text-shadow: none;
}

::-moz-selection {
  background: var(--text-body);
  color: var(--background);
  text-shadow: none;
}

/* Footer */
footer.container {
  padding-bottom:20px;
  font-family: 'Pixel NES', sans-serif;
  font-size: 0.9rem;
  margin-bottom:20px;
}

.obviously {
  color: var(--text-title);
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 100;
}

/* Scrollbar */

::-webkit-scrollbar { 
  width: 4px;
  background: var(--background); /* Background */
}

::-webkit-scrollbar-thumb { 
  background: var(--text-title); /* Foreground */
}

/* Button styling */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    overflow: visible;
    font-family: 'Pixel NES', sans-serif;
    font-size: 16px;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
    appearance: button;
    -webkit-appearance: button;
    border-width:0px;
}

/* Pixel Button */
.pixel-button {
    cursor: pointer;
    display: block;
    padding: 7px 10px;
    margin-left: 5px; /* Offset box-shadow for alignment */
    min-width: 195px;
    max-width: 195px;
    color: var(--background);
    background-color: var(--text-body);
    box-shadow:   -5px 0 0 0 var(--text-body),
                   5px 0 0 0 var(--text-body),
                   0 -5px 0 0 var(--text-body),
                   0 5px 0 0 var(--text-body);
}

.pixel-button:active {
    top: 2px;
}

.pixel-button:hover {
    color: var(--text-body);
    background-color: var(--text-title);
    box-shadow:   -5px 0 0 0 var(--text-title),
                   5px 0 0 0 var(--text-title),
                   0 -5px 0 0 var(--text-title),
                   0 5px 0 0 var(--text-title);
}

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}