/* Fonts */

@font-face { /* JetBrains */
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/jetbrains-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/jetbrains-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jetbrains-mono-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jetbrains-mono-v13-latin-regular.svg#JetBrainsMono') format('svg'); /* Legacy iOS */
}

@font-face { /* Pixel NES */
  font-display: swap;
  font-family: 'Pixel NES';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Pixel_NES.eot?') format('eot'),
       url('../fonts/Pixel_NES.woff') format('woff'),
       url('../fonts/Pixel_NES.ttf') format('truetype'),
       url('../fonts/Pixel_NES.svg#PixelNES') format('svg');
}

/* Theming and Structure */

html[data-theme='light'] {
  --background: #D1D5D4; /* OK */
  --nav-background: #d1d5d4a4; /* OK */
  --text-body: #0B1014; /* OK */
  --text-link: #0092bb; /* OK */
  --text-link-hover: #0092bb;
  --text-faded: #49789e;
  --text-title: #009BC6;
  --text-subtitle: #BA5C12;
  /* Heading Animation */
  --stroke: #009BC6;
  --stroke-2: #0B1014;;
}

html[data-theme='dark'] {
  --background: #1B1B26; /* OK */
  --nav-background: #1b1b26ad; /* OK */
  --text-body: #E3E3DD; /* OK */
  --text-faded: #435260; /* OK */
  
  --primary-color: #AA9FFF; /* OK */
  --text-link: #AA9FFF; 
  --text-link-hover: #6d65aa; /* OK */

  --text-title: #AA9FFF;
  --text-subtitle: #F5D324;
  /* Heading Animation */
  --stroke: #AA9FFF;
  --stroke-2: #E3E3DD;;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1em;
  letter-spacing: -0.5px;
  color: var(--text-body);
  background-color: var(--background);
  text-align: left;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

#site-wrapper {
  display: flex;
  min-height: 100vh; /* container always  */
  flex-direction: column; /* containers flex vertically */
  justify-content: center; /* centered vertically */
  gap:0px; /* no spacing between containers */
  pointer-events: auto;
  position: relative;
  z-index: 1;
}

.job-points {
  list-style-type: circle;
  display:block;
  padding-left: 1em;
}

.job-points li + li { /* Apply start margin between <li> */
  margin-block-start: 0.7em;
}

.job-points li::marker {
  color: var(--text-faded);
}

/* Typography */

#intro {
  text-align: justify;
}

#intro em {
  font-style: normal;
  color: var(--primary-color);
}

.date::before {
  content: '// ';
}

.date {
  color: var(--text-faded);
  display: block;
  padding-bottom: 0.5em;
  font-size: 1em;
  font-style:normal;
}

.p-title {
  padding-bottom: 0.5em;
  color: var(--text-title);
}



.p-subtitle::before {
  content: ' — ';
  font-size: 1em;
  color: var(--text-subtitle);
}

.p-subtitle {
  color: var(--text-body);
  font-weight: 100;
}

.p-subtitle::after {
  content: '.';
  color: var(--text-subtitle);
}

.description {
  display:block;
  padding-left: 1em;
  padding-top: 0.5em;
}

a {
  color: var(--text-title);
  text-decoration: none;
}

a:hover {
  color: var(--text-link-hover);
}

nav img:hover {
  transform: scale(115%);
}



/* Headings and Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pixel NES', sans-serif;
  font-weight: 100;
  margin: 0;
  line-height:1;
}

h2, h3, h4, h5, h6 {
  font-size:1.4em;
}

h2::after, h3::after, h4::after, h5::after, h6::after {
  font-family: 'Pixel NES', sans-serif;
  font-size: 1.4em;
  content: ':';
  color: var(--text-subtitle);
  padding-left: 4px;
  position: relative;
  bottom: 1px;
} 

.visually-hidden { /* For H1 SEO */
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /* support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

h1 {
  line-height: 1;
  overflow: visible;
}

#tom-dawson, #front-end-developer {
  width: 100%;
}

#tom-dawson { /* Size of title container */
  height:40px;
}

#front-end-developer { /* Size of title container */
  height: 40px;
  letter-spacing: 2px;
}

#tom-dawson text { /* Positioning text inside container */
  font-size: 1.44em;
  transform: translateY(40px);
}

#front-end-developer text {
  font-size: 0.71em;
  transform: translateY(30px);
}

/* Page Structure */

.container {
  padding: 0;
  width: clamp(0px, 95vw, 680px); /* always shrinks, prefers 95vw, max 680px */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.indented {
  margin: 0px 10px;
  position: relative;
  z-index: 2;
}

.indented > * + * { /* Add margin in between child elements */
  margin-block-end: 1.5em;
}

.indented > :last-child { /* Add margin to last child element */
  margin-block-end: 3em;
}

.indented > :nth-child(2) { /* Add margin below headings */
  margin-block-start: 1em;
}

/* Flexbox || Competencies */

/* Skill Boxes */

.flex-key {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: baseline;
  margin-block-end: 0em;
}

.flex-key *::before {
  content: " ⬤ ";
  font-size: 1em;
}

.skill-key {
  color: var(--text-faded);
}

.flex-key :not(:last-child) {
  padding-right: 20px;
}

.skill-key.developer::before {
  color: var(--primary-color);
}

.skill-key.it::before {
  color: var(--text-subtitle);
}

.programming-skill {
  background-color: var(--text-title);
  color: var(--background);
}

.it-skill {
  background-color: var(--text-subtitle);
  color: var(--background);
}

.flex-container {
  padding: 0;
  margin: 10px 0px 0px -5px;
  padding-inline-start: 0px;
  width: calc(100% + 10px);
  position: relative;
  z-index: 2;
  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}

.flex-container > * {
  list-style-type: none;
  padding: 7px 10px;
  margin: 5px;
  /* Flex */
  display:flex;
  text-align: center;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  /* These make the tiles stretch */
  flex-grow: 1;
  max-width: auto;
}

/* Header styles */

header.container {
  padding-top:30px;
}

nav /* #navbar */ {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: -1px; /* -1px is important for JS to apply .sticky class to nav */
  z-index: 10;
  padding: 15px 0px 15px 0px;
  border-bottom: dashed 2px var(--text-title); /* Perf. line border */
  margin-bottom: 2em;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
  margin-left: auto;
}

nav #toggle-container {
  justify-content: flex-end;
  display: flex;
}

/* Header Links */

.email-address {
  display: flex;
  height:100%;
  justify-content: center;
  flex-direction: column;
}

.social-icon-container {
  height: 100%;
  width: auto;
}

.social-icon {
  float: left;
  height: auto;
  margin-right: 15px;
}

.social-icon, .toggle-icon {
  width: 25px;
  position: relative;
  top:2px;
}

/* Header + Footer Sticking */

.sticky {
  backdrop-filter: blur(5px);
  background-color: var(--nav-background);
}

/* Footer */

footer p { /* Normalize default styles */
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#footer-global {
  font-family: 'Pixel NES', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3px;
  padding: 5px 0px 5px 0px;
  border-top: dashed 2px var(--text-title); /* Perf. line border */
  position: sticky;
  bottom: -1px; /* -1px is important for JS to apply .sticky class to nav */
}

.copyright {
  font-size: 1rem;
}

.obviously {
  color: var(--text-faded);
  font-size: 0.5rem;
  font-style: italic;
  font-weight: 100;
}

/* Selection/Highlighting */

.social-icon::selection, svg text::selection {
  background: none; /* Remove selection highlight */
}

::selection {
  background: var(--text-body);
  color: var(--background);
  text-shadow: none;
}

::-moz-selection {
  background: var(--text-body);
  color: var(--background);
  text-shadow: none;
}

/* Scrollbar */

::-webkit-scrollbar { 
  width: 6px;
  background: transparent; /* Background */
}

::-webkit-scrollbar-thumb { 
  background: var(--text-title); /* Foreground */
  transition: all 0.3s; 
}

/* Button styling */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    overflow: visible;
    font-family: 'Pixel NES', sans-serif;
    font-size: 16px;
    line-height: 1.15;
    margin: 0;
    text-transform: none;
    appearance: button;
    -webkit-appearance: button;
    border-width:0px;
}

/* Pixel Button */
.pixel-button {
  cursor: pointer;
  display: block;
  padding: 2px 5px;
  margin-right: 5px;
  color: var(--background);
  background-color: var(--text-body);
  box-shadow:   -5px 0 0 0 var(--text-body),
                  5px 0 0 0 var(--text-body),
                  0 -5px 0 0 var(--text-body),
                  0 5px 0 0 var(--text-body);
}

.pixel-button:active {
    top: 2px;
}

.pixel-button:hover {
  color: var(--text-body);
  background-color: var(--text-title);
  box-shadow:   -5px 0 0 0 var(--text-title),
                  5px 0 0 0 var(--text-title),
                  0 -5px 0 0 var(--text-title),
                  0 5px 0 0 var(--text-title);
}

/* Mobile breakpoint */

@media only screen and (max-width: 480px) {
  #tom-dawson text {
    font-size:1.1em; 
  }
  
  #front-end-developer text {
    font-size: 0.5em;
  }

  main.container {
    
  }
}


/* Animations */

/* scripts.js removes this class on page load */

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Transitions */

nav,
hr,
img,
a,
.container,
.programming-skill,
.it-skill,
.pixel-button,
#tom-dawson,
#front-end-developer,
.p-subtitle,
.p-subtitle::before,
.p-title {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.flex-container > *:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 0px 0px var(--text-body);
}

body {
  transition: background 0.3s;
}

/* Heading Animation */

#tom-dawson { /* SVG element */
  animation: stroke 2s;
  fill: var(--stroke);
  stroke: var(--stroke);
  stroke-width: 0.5px;
}

#front-end-developer {
  animation: stroke 3s;
  fill: var(--stroke-2);
  stroke: var(--stroke-2);
  stroke-width: 0.5px;
}

@keyframes stroke {
  0% {
    fill: transparent;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%; /* No stroke whatsoever */
    stroke-width: 0.5;
  }
  70% {
    fill: transparent;
    stroke-width: 0.5;
  }
  100% {
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0; /* Unbroken stroke */
    stroke-width: 0.5;
  }
}

/* Portfolio */

.portfolio-entry {

}

.portfolio-summary-wrapper {

}

.portfolio-image-wrapper {
  height: 300px;
  overflow: hidden;
}

.portfolio-image-wrapper img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 11s ease-in-out;
  border-radius: 3px;
  
}

.portfolio-image-wrapper:hover img, .portfolio-image-wrapper:active img {
  object-position: bottom center;
}

/*box-shadow: inset 7px 7px 5px 0px rgba(0,0,0,0.1);*/